%table
  %thead
    %tr
      %th Trash
      %th Task name
      %th Done
  %tbody#task-body
    - @tasks.each do |task|
      %tr{id: task.id}
        %td.btn.btn-default{ :class => 'deletion', data: { 'task-id' => task.id }}
          Delete
        %td= task.name
        %td= check_box_tag 'complete', '0', task.complete, data: { 'task-id' => task.id }