%table
  %thead
    %tr
      %th Trash
      %th Task name
      %th Done
  %tbody
    - @tasks.each do |task|
      %tr
        %td= button_to 'Delete', task, remote: 'true', method: 'delete', class: 'button'
        %td= task.name
        %td= check_box_tag 'complete', '1', task.complete, data: { 'task-id' => task.id }