.row
  .large-6.columns.large-centered
%p List of Tasks
- @tasks.each do |task|
  = task.name  |  
  = button_to "Delete", task_path(task), confirm: "Delete?", method: :delete, class: 'button'
  %br
  %br