/* Task List */
.top-section
  #task_list= render partial: 'to_do'

/* New Task Modal */
#bottom-new.modal-background
  #task_form= render partial: 'new_task'  

/* Update Task Modal */
#bottom-upate.modal-background
  #task_form= render partial: 'update_task'  

.btn.btn-default.reveal-new
  Add a Task