/* Task List */
.top-section
  #task_list= render partial: 'to_do'

/* New Task Modal */
#bottom.modal-background
  #task_form= render partial: 'new_task'  

.btn.btn-default.modal-reveal
  Add a Task