/* Navigation Bar */
= render partial: 'layouts/nav_bar'

/* Add a New Task */
.top-section
  .row
    .large-6.column.large-centered
      .form
        = render partial: 'search'

/* To-Dos */
.top-section
  .row
    .large-6.column.large-centered
      #to_to
      = render partial: 'to_do'