%nav.top-bar{"data-topbar" => ""}
  %ul.title-area
    / Title Area
    %li.name
      %h1
        %a{href: "/"} Photo App
    %li
      .toggle-topbar.menu-icon
        %span Menu
  %section.top-bar-section
    / Right Nav Section
    %ul.right
      - if user_signed_in?
        %li.divider.hide-for-small
        %li
          %a.modal-reveal Upload Photo
        %li= link_to 'Sign out', destroy_user_session_path, method: :delete
      - else
        %li= link_to "Sign in", new_user_session_path
        %li= link_to "Sign up", new_user_registration_path, {class: 'signup-nav'}